wsdl-soap/konverter.wsdl

<?xml version="1.0"?>
<definitions name="HelloWorld" targetNamespace="urn:HelloWorld" xmlns:tns="urn:HelloWorld"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Test">
      <xsd:element name="dataType" type="xsd:integer" />
	    <xsd:element name="konverzijaBAMToEURResponse" type="xsd:integer" />
	    <xsd:element name="konverzijaEURToBAMResponse" type="xsd:integer" />	 
	    <xsd:element name="konverzijaHRKToBAMResponse" type="xsd:integer" />	 
	    <xsd:element name="konverzijaBAMToHRKResponse" type="xsd:integer" />	 
	 	 
	</xsd:schema>			
  </types>
      <message name="konverzijaBAMToEUR">
    <part name="yourValue" type="tns:dataType" />
  </message>
  
  <message name="konverzijaBAMToEURResponse">
    <part name="return" type="tns:dataType" />
  </message>  
  
  <message name="konverzijaEURToBAM">
    <part name="yourValue1" type="tns:dataType" />
  </message>
  
  <message name="konverzijaEURToBAMResponse">
    <part name="return" type="tns:dataType" />
  </message>

  <message name="konverzijaHRKToBAM">
    <part name="yourValue2" type="tns:dataType" />
  </message>
  
  <message name="konverzijaHRKToBAMResponse">
    <part name="return" type="tns:dataType" />
  </message>
  
  <message name="konverzijaBAMToHRK">
    <part name="yourValue3" type="tns:dataType" />
  </message>
  
  <message name="konverzijaBAMToHRKResponse">
    <part name="return" type="tns:dataType" />
  </message>
  
  <portType name="ConvertPort">
    <operation name="konverzijaEURToBAM">
	  <input message="tns:konverzijaEURToBAM" />
	  <output message="tns:konverzijaEURToBAMResponse" />
	</operation>
  </portType>
  
  <binding name="bind" type="tns:ConvertPort">
	  <operation name="konverzijaEURToBAM">
	    <soap:operation soapAction="urn:ConvertAction" />
		<input>
		  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</input>
		<output>
		  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</output>
	  </operation>
  </binding>
  
  <portType name="ConvertPort1">
    <operation name="konverzijaBAMToEUR">
	  <input message="tns:konverzijaBAMToEUR" />
	  <output message="tns:konverzijaBAMToEURResponse" />
	</operation>
  </portType>
  
  <binding name="bind1" type="tns:ConvertPort1">
	  <operation name="konverzijaBAMToEUR">
	    <soap:operation soapAction="urn:ConvertAction" />
		<input>
		  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</input>
		<output>
		  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</output>
	  </operation>
  </binding>

  <portType name="ConvertPort2">
    <operation name="konverzijaHRKToBAM">
	  <input message="tns:konverzijaHRKToBAM" />
	  <output message="tns:konverzijaHRKToBAMResponse" />
	</operation>
  </portType>
  
  <binding name="bind2" type="tns:ConvertPort2">
	  <operation name="konverzijaHRKToBAM">
	    <soap:operation soapAction="urn:ConvertAction" />
		<input>
		  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</input>
		<output>
		  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</output>
	  </operation>
  </binding>
  
  <portType name="ConvertPort3">
    <operation name="konverzijaBAMToHRK">
	  <input message="tns:konverzijaBAMToHRK" />
	  <output message="tns:konverzijaBAMToHRKResponse" />
	</operation>
  </portType>
  
  <binding name="bind3" type="tns:ConvertPort3">
	  <operation name="konverzijaBAMToHRK">
	    <soap:operation soapAction="urn:ConvertAction" />
		<input>
		  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</input>
		<output>
		  <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />		  
		</output>
	  </operation>
  </binding>

  <service name="Service">
    <port name="ConvertPort" binding="tns:bind">
	    <soap:address location="http://localhost/world-database/wsdl-soap/konverzijaEURToBAM.php"/>
	  </port>
  </service>
  
  <service name="Service1">
    <port name="ConvertPort1" binding="tns:bind1">
	    <soap:address location="http://localhost/world-database/wsdl-soap/konverzijaBAMToEUR.php"/>
    </port>
  </service>

   <service name="Service2">
    <port name="ConvertPort2" binding="tns:bind2">
	    <soap:address location="http://localhost/world-database/wsdl-soap/konverzijaHRKToBAM.php"/>
    </port>
  </service>

   <service name="Service3">
    <port name="ConvertPort3" binding="tns:bind3">
	    <soap:address location="http://localhost/world-database/wsdl-soap/konverzijaBAMToHRK.php"/>
    </port>
  </service>
    
</definitions>